<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="sabor">Sabor: </label>
        <input type="text" name="sabor">
        <label for="massa">Massa: </label>
        <input type="text" name="massa">
        <label for="tipoDeBorda">Tipo de Borda</label>
        <input type="text" name="tipoDeBorda">
        <label for="valor">Valor</label>
        <input type="text" name="valor">
        <button>enviar</button>
    </form>
    <a href="/"><button>Voltar a home</button></a>
</body>
</html>